{% extends "procure/base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block title %}Chi tiết hồ sơ{% endblock %}

{% block content %}
<body class="container mt-5">

  <h2 class="mb-4 text-primary">{{ record.code }} - {{ record.title }}</h2>
  <p class="mb-3"><strong>Mô tả:</strong> {{ record.description|default:"(Không có mô tả)" }}</p>

  <p>
    Trạng thái thanh toán:
    {% if record.is_paid %}
      <span class="badge bg-success fs-6">Đã thanh toán</span>
    {% else %}
      <span class="badge bg-warning text-dark fs-6">Chưa thanh toán</span>
    {% endif %}
  </p>

  <!-- Danh sách file đính kèm -->
  <h4 class="mt-4">📎 File đính kèm</h4>
  <ul>
    {% for f in record.attachments.all %}
      <li>
        <a href="{{ f.file.url }}" target="_blank">
          {{ f.file.name|cut:"procure/attachments/" }}
        </a>
        {% if f.description %} - <small class="text-muted">{{ f.description }}</small>{% endif %}
      </li>
    {% empty %}
      <li class="text-muted">Không có file đính kèm.</li>
    {% endfor %}
  </ul>

  <!-- Danh sách món đã mua -->
  <h4 class="mt-5">🛒 Danh sách mặt hàng đã mua</h4>
  <table class="table table-bordered table-hover">
    <thead class="table-light text-center align-middle">
      <tr>
        <th>STT</th>
        <th>Tên món</th>
        <th>Đơn vị</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      {% for item in record.items.all %}
        <tr class="text-center align-middle">
          <td>{{ forloop.counter }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.unit|default:"-" }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.unit_price|intdot }} đ</td>
          <td>{{ item.total_price|intdot }} đ</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center text-muted">Chưa có mặt hàng nào.</td>
        </tr>
      {% endfor %}
    </tbody>
    {% if record.items.all %}
    <tfoot>
      <tr>
        <th colspan="5" class="text-end">Tổng trị giá:</th>
        <th colspan="2" class="text-primary text-center align-middle">
            {{ total_cost|intdot }} đ
        </th>
      </tr>
    </tfoot>
    {% endif %}
  </table>

  <a href="{% url 'procure:record_list' %}" class="btn btn-secondary">← Quay lại danh sách</a>

</body>
{% endblock content %}
